# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/

# Database files
data/*.duckdb
data/*.duckdb.wal

# Pytest cache
.pytest_cache/

# Operating System Files
.DS_Store
Thumbs.db

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
logs/

